body {
    font-family: "Nunito", sans-serif
}

body {
    display: flex;
    flex-direction: row;
    background-image: url("img/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    max-width: 95%;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center; 
    min-height: 90vh;
}

section {
    background-color:rgba(75, 72, 72, 0.631);
    border-radius: 10px;
}

.drawing-board{
    background-color: rgb(255, 255, 255);
}

.tools {
    width: 220px;
    padding: 15px 22px;
}

.tools .row{
    margin-bottom: 25px;
}

.row .options{
    list-style-type: none;
    margin: 15px 0px;
}

.row .title{
    color:rgb(255, 255, 255);
    font-weight: bold;
}

.row .options .option{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}

.option:is(:hover, .active) img{
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(169deg) brightness(100%) contrast(103%);
}

.option:is(:hover, .active) :where(span, label){
    color: #ffffff;
}


.option :where(span, label){
    color: rgb(165, 201, 226);
    padding-left: 5px;
}

.input-color {
    appearance: none;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.input-color::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
}

.option #size-slider{
    width: 100%;
    height: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons button {
    width: 100%;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 12px;
    font-size: 1rem;
    margin-bottom: 10px;
    background: none;
    border-radius: 100px;
    cursor: pointer;
}

.buttons .clear-canvas{
    color: grey;
    border: 1px solid grey;
    transition: all 0.3s ease;
}

.clear-canvas:hover{
    color: white;
    background-color: rgb(82, 82, 82);
}

.buttons .save-image {
    background: rgba(171, 255, 37, 0.375);
    color: white;
    border: 1px solid grey;
}

.drawing-board {
    background-color: rgb(255, 255, 255);
    width: 80vw;  
    max-width: 960px; 
    height: 60vh; 
    min-height: 400px; 
}

.drawing-board canvas{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    main {
        flex-wrap: wrap-reverse;
    }
    section.tools {
        /* display: flex; */
        width: 85vw;
    }
    section ul {
        margin: 0px;
        display: flex;
        padding: 0px;
        justify-content: space-evenly;
    }
    section ul li {
        margin: 8px;
    }
    section ul li img{
        transform: scale(2)
    }
    .row label {
        display: none;
    }
    .utility span {
        display:none;
    }
    .shapes span {
        display: none;
    }
    .drawing-board {
        background-color: rgb(255, 255, 255);
        width: 90vw;  
        max-width: 960px; 
        height: 60vh; 
        min-height: 400px; 
    }
}